*{
    font-family: "preconnect" href="https://fonts.googleapis.com"

}
#board, .boardInfo{
    max-width: 500px;
}

#board{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#start, .boardInfo{
    font-size: 25px;
}
#gameOver{
    display: none;
    background-color: yellow;
    height: 20px;
    width: 20vh;
}
.boardInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#start{
    background-color: rgb(214, 40, 40);
    border: none;
    color: rgb(240, 240, 240);
    border: 1px solid black;
   
}

#scoreBoard{
    display: inline-flex;
}
.square{
    aspect-ratio: 1;
}

.emptySquare{
    background-color: rgb(0, 0, 0);
}
.snakeSquare{
    background-color: rgb(211, 50, 50);
}

.foodSquare{
    background-color: rgb(255, 252, 252);
}

